*{
    box-sizing: border-box;
}

main {
    width: 80%;
    max-width: 800px;
    margin:auto;
    display: grid;
    grid-template-areas: 
        "h h h"
        "n a as"
        "f f f"
        ;
    grid-template-columns: 2fr 3fr 2fr;
}

header {
    grid-area: h;
}

nav {
    grid-area: n;
}

article {
    grid-area: a;
}

aside {
    grid-area: as;
}

footer {
    grid-area: f;
}
